.counter {
    display:flex;
    justify-content: center;
    background-color: black;

}
.digito,.clock {
    margin: 10px;
    color: white;
    font-size: 80px;
    border: 1px solid rgb(54, 54, 54);
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(31, 31, 31);
}